@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Libre Baskerville", serif;
  background-color: #222831;
  color: #fff;
  font-size: 1.6rem;
  line-height: 2;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.header {
  background-image: url(/Imagenes/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20rem;
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 4.5rem;
  color: #fff;
}

.menu .nav-bar ul li {
  position: relative;
  float: left;
}

.menu .nav-bar ul li a {
  font-size: 2.2rem;
  padding: 20px;
  color: #fff;
  display: block;
}

.menu .nav-bar a:hover {
  color: #e3651d;
}

#menu {
  display: none;
}

.menu-icono {
  width: 2.5rem;
}

.menu-label {
  cursor: pointer;
  display: none;
}

.header-content {
  display: flex;
  width: 20%;
}

.header-1 {
  display: flex;
  flex-direction: column;
  width: 120rem;
  align-self: flex-end;
}

.header-1 img {
  width: 30rem;
}

.header-2 {
  width: 60rem;
  margin-top: 8rem;
  text-align: end;
}
