@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Libre Baskerville", serif;
  background-color: #222831;
  color: #fff;
  font-size: 1.6rem;
  line-height: 2;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.header {
  background-image: url(/Imagenes/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20rem;
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 4.5rem;
  color: #fff;
}

.menu .nav-bar ul li {
  position: relative;
  float: left;
}

.menu .nav-bar ul li a {
  font-size: 2.2rem;
  padding: 20px;
  color: #fff;
  display: block;
}

.menu .nav-bar a:hover {
  color: #e3651d;
}

#menu {
  display: none;
}

.menu-icono {
  width: 2.5rem;
}

.menu-label {
  cursor: pointer;
  display: none;
}

.header-content {
  display: flex;
  width: 120rem;
}

.header-1 {
  display: flex;
  flex-direction: column;
  width: 60rem;
  align-self: flex-end;
}

.header-1 img {
  width: 20rem;
}

.header-2 {
  width: 60rem;
  margin-top: 8rem;
  text-align: end;
}

.header-2 h1 {
  color: #b2b2b2;
  font-size: 8rem;
  line-height: 8rem;
}

.header-2 img {
  width: 7rem;
}

.btn-1 {
  display: inline-block;
  padding: 0.7rem 2rem;
  background-color: #ff204e;
  color: #fff;
  font-size: 2rem;
}

.btn-2 {
  width: 11rem;
  display: inline-block;
  padding: 0.7rem 2rem;
  background-color: #ff204e;
  font-size: 1.2rem;
  margin-top: 3rem;
  color: #fff;
}

.movies {
  padding: 5rem 0 0 0;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

hr {
  border: 1px solid #ff204e;
  width: 47%;
  margin-bottom: 4rem;
}

.box-container-1,
.box-container-2,
.box-container-3,
.box-container-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
}

.content img {
  height: 40rem;
  width: 30rem;
}

.box-1,
.box-2,
.box-3,
.box-4 {
  border-radius: 0.5rem;
  z-index: 1000;
  display: none;
}

.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4),
.box-1:nth-child(5) {
  display: inline-block;
}
.box-2:nth-child(1),
.box-2:nth-child(2),
.box-2:nth-child(3),
.box-2:nth-child(4),
.box-2:nth-child(5) {
  display: inline-block;
}
.box-3:nth-child(1),
.box-3:nth-child(2),
.box-3:nth-child(3),
.box-3:nth-child(4),
.box-3:nth-child(5) {
  display: inline-block;
}
.box-4:nth-child(1),
.box-4:nth-child(2),
.box-4:nth-child(3),
.box-4:nth-child(4),
.box-4:nth-child(5) {
  display: inline-block;
}

.load-more {
  margin-top: 4rem;
  display: inline-block;
  padding: 1rem 2.5rem;
  border-radius: 1.5rem;
  border: 1px solid #ff204e;
  color: #ff204e;
  font-size: 1.6rem;
  cursor: pointer;
  align-self: flex-end;
}

.load-more:hover {
  background-color: #e3651d;
  color: #fff;
}

.content img {
  width: 100%;
  margin-bottom: 1.5rem;
}

.content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content {
  color: #ffc470;
  font-size: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10rem 0;
  margin-top: 10rem;
  border-top: 1px solid #ff204e;
  align-items: center;
}

.footer h3 {
  font-size: 4rem;
}
