@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1REM = 10px
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Libre Baskerville", serif;
  background-color: #222831;
  color: #fff;
  font-size: 1.6rem;
  line-height: 2;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.header {
  background-image: url(/Imagenes/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20rem;
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-bar {
    ul {
      li {
        position: relative;
        float: left;

        a {
          font-size: 2.2rem;
          padding: 20px;
          color: #fff;
          display: block;

          &:hover {
            color: #e3651d;
          }
        }
      }
    }
  }
}

.logo {
  font-size: 4.5rem;
  color: #fff;
}

#menu {
  display: none;
}

.menu-icono {
  width: 2.5rem;
}

.menu-label {
  cursor: pointer;
  display: none;
}

.header-content {
  display: flex;
  width: 120rem;

  .header-1 {
    display: flex;
    flex-direction: column;
    width: 60rem;
    align-self: flex-end;

    img {
      width: 20rem;
    }
  }

  .header-2 {
    width: 60rem;
    margin-top: 8rem;
    text-align: end;

    h1 {
      color: #b2b2b2;
      font-size: 8rem;
      line-height: 8rem;
    }

    img {
      width: 7rem;
    }
  }
}

.btn-1,
.btn-2 {
  display: inline-block;
  background-color: #ff204e;
  color: #fff;
}

.btn-1 {
  padding: 0.7rem 2rem;
  font-size: 2rem;
}

.btn-2 {
  width: 11rem;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  margin-top: 3rem;
}

.movies {
  padding: 5rem 0 0 0;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 30px;
  padding: 5px 50px;
}

hr {
  border: 1px solid #ff204e;
  width: 47%;
  margin-bottom: 15px;
  margin-left: 50px;
}

.box-container-1,
.box-container-2,
.box-container-3,
.box-container-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  .box-1,
  .box-2,
  .box-3,
  .box-4 {
    border-radius: 0.5rem;
    z-index: 1000;
    display: none;

    &:nth-child(-n + 5) {
      display: inline-block;
    }
  }
}

.load-more {
  margin-top: 4rem;
  padding: 1rem 2.5rem;
  border-radius: 1.5rem;
  border: 1px solid #ff204e;
  color: #ff204e;
  font-size: 1.6rem;
  cursor: pointer;
  align-self: flex-end;

  &:hover {
    background-color: #e3651d;
    color: #fff;
  }
}

.content {
  border-radius: 15px;
  background-color: #ff204e;
  padding: 1rem 1.5rem 3rem 1.5rem;
  img {
    margin-bottom: 1.5rem;
    height: 400px;
    width: 300px;
    object-fit: cover;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  color: #ffc470;
  font-size: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10rem 0;
  margin-top: 10rem;
  border-top: 1px solid #ff204e;
  align-items: center;

  h3 {
    font-size: 4rem;
  }

  a {
    color: #e3651d;
    font-size: 2rem;
    margin-right: 2rem;
    display: block;

    &:hover {
      color: #ff204e;
    }
  }
}

@media (max-width: 99rem) {
  .menu {
    padding: 2rem;

    label {
      display: initial;
    }

    .nav-bar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #222831;
      display: none;

      ul {
        li {
          width: 100%;
        }
      }
    }
  }

  .btn-1 {
    display: none;
  }

  #menu:checked ~ .nav-bar {
    display: initial;
  }

  .header-content {
    flex-direction: column;
    padding: 18rem 3rem 3rem 3rem;

    .header-1,
    .header-2 {
      width: 10rem;
      align-items: center;
    }
  }

  .movies {
    padding: 3rem 10rem;
  }

  .footer {
    margin-top: 1rem;
    padding: 3rem;
    flex-direction: column;
    text-align: center;

    ul {
      margin-top: 1.5rem;
      justify-content: center;
    }
  }
}

.copyright {
  text-align: center;
}
